<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038331179354-vlbm0itftre6g4dnou0c1gbjfiagsg65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038331179354-vlbm0itftre6g4dnou0c1gbjfiagsg65</string>
	<key>API_KEY</key>
	<string>AIzaSyDz-bJ3FuNeHt9-G-JH-Wus5oY7Yd7coZo</string>
	<key>GCM_SENDER_ID</key>
	<string>1038331179354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shlomoariel.redlionleague</string>
	<key>PROJECT_ID</key>
	<string>red-lion-league-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>red-lion-league-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038331179354:ios:a894f6c250bf8290ad0363</string>
</dict>
</plist>